{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1>빙글빙글 돌아가는 지은이의 하루</h1>
  <img src = "{% static 'images/kuromi.gif' %}" style = "width:400px;">
  <br>
  <a href="{% url 'main:new' %}">글 쓰기</a>

  <h2>글 목록</h2>

  <div>
      {% for post in posts %} 
      </div>
          <h4>{{post.title}}</h4>
          {{post.writer}}</br>
          {{post.summary}}
          <a href="{%url 'main:detail' post.id %}"> ...more</a>
          <br>
      </div>
      {% endfor %} 
  </div>

{% endblock %}