{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Write Posts</h2>
<form action="{%url 'main:create'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%} 
    <p>제목 : <input type="text" name="title"></p>
    <!--작성자 : <input type="text" name="writer">-->
    <p>사진 : <input type="file" name="image"></p>
    <p>날씨 : <input type="text" name="weather"></p>
    <p>내용 : <textarea type="text" name="body" id="" cols="50" rows="10"></textarea></p>
    <p>비디오 url : <input type="text" name="video"></p>

    <button type="submit">제출</button>
</form>

{% endblock %}